############################
# Python
############################
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
**/.venv
**/.venv.*
venv/
**/venv/
**/.env
**/.env.*


############################
# VS Code
############################
.vscode/

############################
# Python build / packaging
############################
build/
dist/
*.egg-info/

############################
# Test / coverage
############################
.pytest_cache/
.coverage
htmlcov/

############################
# Logs / temp
############################
*.log
*.tmp

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# Jupyter 
############################
.ipynb_checkpoints/
